
        body {

            margin: 0;

            font-family: 'Poppins', sans-serif;

            background-color: #F5F5F5;

        }

        header {

            background-color: #6A1B9A;

            color: white;

            padding: 10px;

            display: flex;

            align-items: center;

            justify-content: space-between;

            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        }

        .logo {

            font-size: 28px;

            font-weight: 600;

            display: flex;
            justify-content:center;
            align-items:center;


        }

        .logo > img{
            height:70px;
            width:70px;
            border-radius: 50%;

        }

        nav {

            flex-grow: 1;

            text-align: center;

        }

        nav a {

            color: white;

            margin: 0 15px;

            text-decoration: none;

            font-weight: 500;

            transition: color 0.3s;

        }

        nav a:hover {

            color: #FF9800; /* Accent color on hover */

        }

        .cta-button {

            background-color: #FF9800;

            color: white;

            border: none;

            padding: 10px 20px;

            border-radius: 5px;

            cursor: pointer;

            font-weight: 600;

            transition: background-color 0.3s;

        }

        .cta-button:hover {

            background-color: #e68a00; /* Darker shade on hover */

        }




