{% include "Header.html" %}
{% load static %}
<main>

        {% if quizs|length > 0%}
        <table border="1" cellpadding="5px" id="QuizTable">
            <thead>
            <tr>
                <th>Title</th>
                <th>Key</th>
                <th>Chapter</th>
                <th>Subject</th>
                <th>Class</th>
                <th>Total no. of Questions</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            {% for quiz in quizs %}
            <tr>
                <td>{{ quiz.title }}</td>
                <td onclick="copyText('{{quiz.secret_key}}')"  style="color: darkblue"><strong> {{quiz.secret_key}}</strong></td>
                <td>{{ quiz.chapter }}</td>
                <td>{{ quiz.subject }}</td>
                <td>{{ quiz.classes}}</td>
                <td>{{ quiz.questions_count }}</td>
                <td>{{ quiz.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    {% else %}
        <h1>No data found!</h1>
    {% endif %}
</main>

</body>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>-->
<script src="https://cdn.datatables.net/2.2.1/js/dataTables.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
<script>
    $(document).ready(function () {
    $('#QuizTable').DataTable();
});
</script>

</html>